<div class="container-fluid">
  <div class="row">
    <div class="col mb-2">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Región</th>
          </tr>
        </thead>
        <tbody *ngFor="let coffee of coffees">
          <tr>
            <th scope="row">{{ coffee.id }}</th>
            <th>{{ coffee.nombre }}</th>
            <th>{{ coffee.tipo }}</th>
            <th>{{ coffee.region }}</th>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
