<div class="container-fluid">
  <div class="row">
    <div class="col col-md col-lg-8 mb-2">

      <table class="table">
        <thead id="table-header">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Región</th>
          </tr>
        </thead>
        <tbody *ngFor="let coffee of coffees">
          <tr>
            <td id="table-index">{{ coffee.id }}</td>
            <td id="table-body">{{ coffee.nombre }}</td>
            <td id="table-body">{{ coffee.tipo }}</td>
            <td id="table-body">{{ coffee.region }}</td>
          </tr>
        </tbody>
      </table>

      <div>
        <table>
          <tr>
            <td colspan="2">Total café de origen:</td>
            <td id="stat-cell">{{ getOriginCoffee() }}</td>
          </tr>
          <tr>
            <td colspan="2">Total café blend:</td>
            <td id="stat-cell">{{ getBlendCoffee() }}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
