<div class="container">
  <div class="content d-flex flex-column flex-column-fluid">
    <div class="content text-left text-capitalize">
      <h1>El aroma mágico</h1>
    </div>
    <hr>
    <div>
      <img src="../assets/img/coffee-screenshot-banner.png" alt="main-banner" id="main-banner">
    </div>
    <hr>
    <div class="container-xxl">
      <router-outlet></router-outlet>
      <app-coffee-list></app-coffee-list>
    </div>
  </div>
  <br>
  <div class="text-center">
    <footer>Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico</footer>
  </div>
</div>
