<!-- <div class="page  flex-row flex-column-fluid">
  <app-side-bar ></app-side-bar>
  <div class="wrapper d-flex flex-column flex-row-fluid">
    <app-nav-bar></app-nav-bar> -->
    <div class="content d-flex flex-column flex-column-fluid">
      <div class="content text-center text-capitalize">
        <h1>El aroma mágico</h1>
      </div>
      <div class="container-xxl">
        <router-outlet></router-outlet>
        <app-coffee-list></app-coffee-list>
      </div>
    </div>
  <!-- </div>
</div> -->
