* [lang^=en] {
  color: green;
}

#main-banner {
  max-height: 290px;
  width: auto;
  max-width: 100%;
  vertical-align: top;
}

#page-title {
  font-family: var(--font-family-1);
  font-size: var(--font-size-1);
}
